{% extends 'kits/docs/_base.njk' %}

{% block head %}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><rect width='64' height='64' fill='%23000000'/><text x='32' y='45' font-size='30' text-anchor='middle' fill='%2300ff00' font-family='monospace' style='text-decoration: line-through'>SPA</text></svg>">  
  <script defer data-domain="picossg.dev" src="https://plausible.io/js/script.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
{% endblock %}

{% block header_text %}
  <style>
    .ascii-art {
      font-size: 12px;
      line-height: 12px;
      white-space: pre;
      margin-top: -1em;
    }
  </style>
  <a href="/" class="ascii-art">
    {% include '_spaish_asciiart.txt' %}
  </a>
{% endblock %}